body{
	background-image: url(https://dl-web.dropbox.com/get/black_background_wood-wallpaper-1920x1080.jpg?_subject_uid=402514716&w=AACU8EJbuD55N28OtqZ_mKG1YMc7sfhi_nZeCPIsmhlw3g); 
	font-family: 'Indie Flower', cursive;
	color: white;
}
h2{
	margin-left: 21em;
	font-size: 2em;
}
.h2{
	margin-top: 15px;
	background-color: orange;
	opacity: 0.4;
    filter: alpha(opacity=40);
}
nav{
	margin-top: 1.5em;
	margin-left: 31em;
	padding: 15px;
	color: orange;
	text-decoration: none;
}
.kader{
	
	margin-left: 14em;
	width: 770px;
}
a{
	text-decoration: none;
	color: orange;
	margin-left:3em; 
}
img{
    float:right;
	margin-top: 2em;
	margin-left: 1em;
	max-height:300px;
	max-width:330px;
}
.p1,p{
	text-align: center;
	padding: 15px;
}